/* Font */
@font-face {
    font-family: "itim-regular" ;
    src: url("  font/itim-regular.ttf");
}

.fondoCentro{
    background-color: black;
    color: whitesmoke;
    
}

.fondoInifin {
    background-color:  black;
    color: coral;
}

.fondoCol {
    background-color: peru;
    margin: 5px;
    border: solid 1px orangered;
}

.colorTexto {
    color: black;
}


